/*
* Theme color palette
*/
$text-color-header: #fefefd;
$text-color-primary: #fefefd;
$text-color-secondary: #fefefd;
$text-color-tertiary: #fefefd;

$border-color: #908e8640;
$background-color-secondary: #003566;
$background-color-tertiary: #003566;
