/*
* Theme color palette
*/
$text-color-header: #ffffff;
$title-color: #fff6f4;
$subtitle-color: #a8a8a3;
$date-color: #fcfef0;
$description-color: #f2e2da;
$card-explanation-color: #bab8b6;
$card-value-color: #f6f2ee;
$icon-background-color: #fff6eb;
$icon-color: #161b15;

$border-color: #8f8e8a40;
$background-color: #161b1598;
$background-color-body: #161b1598;
$on-background-color: #fffff4;
$gold-color: #fbca69;
