/*
* Theme color palette
*/
$text-color-header: #fff;
$text-color-primary: #fefefd;
$text-color-secondary: #fefefd;
$text-color-tertiary: #fefefd;

$border-color: #908e8640;
$background-color: #161b1598;
$background-color-body: #161b1598;
$on-background-color: #e4dbc3;
